<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.blogL.mapper.UserMapper">
    
    <resultMap type="User" id="BaseResultMap">
		<id column="login_name" property="loginName" jdbcType="VARCHAR"/>
    	<result column="id" property="id" jdbcType="VARCHAR"/>
    	<result column="name" property="nickName" jdbcType="VARCHAR"/>
    	<result column="password" property="password" jdbcType="VARCHAR"/>
    	<result column="sex" property="sex" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="DATE"/>
		<result column="salt" property="salt" jdbcType="VARCHAR"/>
		<result column="role_type" property="roleType" jdbcType="VARCHAR"/>
    </resultMap>
    
    <!-- sql片段 -->
	<sql id="Base_Column_List" >
		id,name,password,sex,create_time,salt,login_name,role_type
	</sql>
    
    <!-- 根据用户名查询用户 -->
    <select id="queryUserByLoginName"  resultMap="BaseResultMap" parameterType="string">
    	select <include refid="Base_Column_List"/>
    	from b_user
    	where login_name = #{login_name};
    </select>

	<!-- 分组查询用户信息 -->
	<select id="queryAllUser" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select *
		from b_user
		limit #{startNo},#{pageSize};
	</select>

	<insert id="insertUser" parameterType="User">
		insert into b_user(id,name,password,sex,create_time,
			salt,login_name,role_type)
		values (#{id},#{nickName},#{password},#{sex},#{createTime},
			#{salt},#{loginName},#{roleType});
	</insert>

	<update id="updateUserByLoginName" parameterType="User">
		update b_user
		set name = #{nickName,jdbcType=VARCHAR},
			sex = #{sex,jdbcType=INTEGER},
			role_type = #{roleType,jdbcType=VARCHAR}
  		where login_name = #{loginName};
	</update>

	<update id="deleteUserByLoginName" parameterType="string">
		delete
		from b_user
		where login_name = #{loginName};
	</update>

</mapper>